.dnradio1{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_01.png');
}

.dnradio2{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_02.png');
}

.dnradio3{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_03.png');    
}

.dnradio4{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_04.png');    
}

.dnradio5{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_05.png');    
}

.dnradio6{
    -nx-button-skin:url('chrome://images/timeline/post/post_like_layer_icon_06.png');    
}

