/*
 default control setting
-------------------------------------*/
button, imagebutton, checkbox{
    cursor:pointer;
}

listitem{
    margin:0px;
    padding:0px;
}

listbox{
    background-color:white;
}

/*
 서브 메뉴 페널, 
 검색영역이나 그룹 추가영역 배경
-------------------------------------*/
.subMenuPanel{
    padding:8px 10px 8px 10px;    
    background-color:#EFF2F5;
}

.searchBox{
    -nx-image-border-width:2px;
    -nx-background-border-image:url('chrome://images/common/list_searchbox.png');    
    width:344px;
    height:24px;
    padding:0px 3px 0px 7px;
    
}

#txtSearch{
    margin-left:3px;
    margin-right:3px;
    padding:4px 2px 0px 0px;
    font-weight:bold;
    height:18px;
}
#txtSearch label{
    color:#AFB4BB; 
}

.addGroupBtn{
    height:35px;
    -nx-background-button-image:url('chrome://images/common/list_addgroup_btn.png'); 
    -nx-image-border-width:40px;
    -nx-button-background:0;    
}


#addGroupBtnText{
    margin-top:2px;
    margin-left:40px;    
    font-weight:bold;
    color:#4B4E54;
    font-size:12px;    
}

#addGroupBtnText:lang(zh-CN){
    margin-top:4px;
}
#addGroupBtnText:lang(zh-TW){
    margin-top:4px;
}
#addGroupBtnText:lang(ja-JP){
    margin-top:3px;
}
#addGroupBtnText:lang(ko-KR){
    margin-top:4px;
}

.addGroupBtn:disabled{
    color:#9DA0A4;
}



/*
 searched buddy
-------------------------------------*/
.searchedBuddyPicutre{
    width:118px;
    height:118px;    
    -nx-background-border-image:url('chrome://images/common/addfriend_search_result_thumb.png');
    -nx-image-border-width:0px;
}

.searchedBuddyName{
    font-size:15px;
    font-weight:bold;
    margin-bottom:5px;
    color:#4B4E54;
}

.searchedBuddyStatusMsg{
    font-size:11px;
    color:#A0A4B0;
}

/*
 list items
-------------------------------------*/
#listBuddies{
    background-color:#FFFFFF;
}

.itemContainer{
}

.itemBottomBorder{    
    border-bottom:1px solid #E7EAEF;
}

.item{
    margin-top:-1px;
}


.item:selected{
    background-color:#F8FAFC;
    color:#333;
}

.item:hover{
    background-color:#F8FAFC;
    color:#333;
}

.itemHeadingBox{
    height:27px;
    padding:0px 10px 0px 10px;        
    cursor:pointer;
    background-color:#FBFBFD;    
    border-bottom:1px solid #E7EAEF;
}

.itemHeading{    
    -nx-button-skin:url('chrome://images/common/list_title_arrow.png');
    -nx-button-left-margin:10px;
    padding-right:5px;
    margin-top:1px;
}

.itemHeading label{
    font-size:11px;
    font-weight:bold;
    color:#B7B9C1;
    cursor:pointer;
}

.itemHeading label:lang(ko-KR){
    margin-top:2px;
}
.itemHeading label:lang(zh-CN){
    margin-top:2px;
}
.itemHeading label:lang(zh-TW){
    margin-top:2px;
}
.itemHeading label:lang(ja-JP){
    margin-top:1px;
}
/* 
 profile
-------------------------------------------*/

.hbProfile{
    width:53px;
    height:53px;    
}

.nickname{
    color:#4B4E54;    
    font-size:12px;
    font-weight:bold;
}

.talkToday{
    font-size:11px;
    color:#A0A4B0;    
    margin:2px 8px 0px 15px;    
}

.statusMessage{
    min-height:24px;
    height:24px;
}

.emptyTitle{
    font-size:13px;
    font-weight:bold;
    color:#444951;
    margin:12px 0px 10px 0px;
}

.emptyDesc{
    font-size:13px;
    color:#868686;
    line-height:120%;
}



